@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  font-family: 'Inter', sans-serif;

  background: rgb(65,116,180);
  background: linear-gradient(0deg, rgba(65,116,180,1) 0%, rgba(216,223,232,1) 100%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
}

.cabecalho-imagem {
  margin: 10px 10px;
  padding: 10px 10px;
}

.conteudo {
  display: flex;
  width: 100%;
}

.conteudo-principal {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo-principal-caixa {
  margin-left: 240px;
  align-items: center;
  width: 680px;
}
.conteudo-principal-input {
  resize: none;
  height: 400px;
  width: 660px;
  padding: 20px 20px;

  font-family: 'Inter';
  font-weight: 400;
  color: #0a3871;

  font-size: 18px;
  line-height: 150%;
  border: none;
  box-shadow: 1px 1px 10px #0a3871;
  border-radius: 20px;
  outline: 0;
}

.conteudo-principal-input::placeholder {
  color: #0a3871;
}

.alerta {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  gap: 8px;
  margin: 10px 0 0 20px;

  font-size: 15px;
  line-height: 150%;
  color: #303033;
  opacity: 0.9;
}

.conteudo-principal-botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;

  height: 67px;
  margin-top: 10px;
  gap: 8px;
}

.conteudo-principal-botao {
  padding: 24px;
  background: #0a3871;
  width: 328px;
  border: 1px solid #0a3871;
  border-radius: 24px;
  font-size: 16px;
}

.conteudo-principal-botao:nth-child(1) {
  color: #ffffffef;
}

.conteudo-principal-botao:nth-child(1):hover {
  cursor: pointer;
  color: #0a3871;
  background: #ffffffef;
  border: 1px solid #0a3871;
}

.conteudo-principal-botao:nth-child(2) {
  background: #d8dfe8;
  color: #0a3871;

  border: 1px solid #0a3871;
  border-radius: 24px;
}

.conteudo-principal-botao:nth-child(2):hover {
  cursor: pointer;
  color: #0a3871;
  background: #ffffffef;
  border: 1px solid #0a3871;
}

.conteudo-secundario {
  width: 40%;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: -65px 0 30px 150px;
  height: 580px;
  width: 300px;

  background: #ffffff;
  border: solid 2px grey;
  box-shadow: 1px 1px 10px black;
  border-radius: 32px;
}

.textarea-display {
  padding: 20px 20px;
  height: 500px;
  width: 250px;
  margin: 20px 20px;

  border: none;
  resize: none;
  outline: 0;

  background: #e5e5e5;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #0a3871;
  line-height: 150%;
}

.texto-display {
  position: absolute;
  padding: 20px 20px;
  height: 500px;
  width: 250px;
  margin: 20px 20px;

  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: center;
}

.texto-display h4 {
  margin-top: 32px;
  margin-bottom: 16px;
  color: #343a40;
  line-height: 120%;
}

.texto-display p {
  font-size: 13px;
  color: #495057;
  line-height: 150%;
}

.display button {
  width: 250px;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid #0a3871;
  border-radius: 16px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #0a3871;
}

.display button:hover {
  background: #d8dfe8;
  cursor: pointer;
}
